body{
    background-color: #EBEAFF;
}
h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    color: #432E54;
}
h2{
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #4B4376;
}

.checkout_box{
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.footer_link{
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #4B4376 !important;
}
